/*Custom Style sheet designed by Lindsey Martin*/
* {
  margin: 555;
  padding: 555;
  box-sizing: border-box;
}

:root {
  /*main colors */
  --primary-color: #0E5259;
  --secondary-color: #75BFB2;
  --tertiary-color: #D5F2EA;
}

body {
  /* more on this crazy alphanumerical value in a minute! */
  color: #D5F2EA;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* start apply styles to <header> */
header {
  padding: 20px 35px;
  background-color: #D5F2EA;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("../src/assets/cover/5330558.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;

}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: #0E5259;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



header a {
  text-decoration: none;
  color: #0E5259;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;

}

/* button styling */

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;

}

header nav ul li a:hover {
  background: #0E5259;
  color: #D5F2EA;
  border-radius: 15px;
  text-shadow: none;
  /*    transition: .5s ease-in;*/
}


/* Hero Style Start */
.hero {
  background-image: url("../src/assets/cover/5330558.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;

}

/* Hero Style End */

/* hero-cta start */
.hero-cta {
  width: 35%;
  text-align: center;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
}

.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: #0E5259;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-cta p {
  color: #328C83;
}

/* hero-cta end */


/*Work section styling */
.intro p {
  line-height: 1.7;
  color: #D5F2EA;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}

.intro-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.intro-img {
  flex: 1 12%;
  margin-right: 20px;
}

.intro-img img {
  max-width: 100%;
}

.intro-text {
  flex: 12;
}

.intro-text p {
  color: #328C83;
  font-size: 18px;
}

/*end intro*/


/* start styles to <footer> */
footer {
  background: #D5F2EA;
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h2 {

  color: #75BFB2;
  font-size: 15px;
  margin: 0;
}

footer p {
  color: #75BFB2;
  font-size: 15px;
  margin: 0;
  text-align: right;

}

footer div {

  line-height: 1.5;
  text-align: right;
}

footer a {
  color: #75BFB2;
}

footer a:hover {
  color: #328C83;
  transition: .5s ease;
}


/* end styles to <footer> */